body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0px 20px 5px;
    background-color: #f5f5f5;
}

button {
    padding: 10px 20px;
    font-size: 16px;
}

.modal {
    display: none; 
    position: fixed;
    z-index: 10; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
    max-height: 80%; 
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


#notification-banner {
    position: fixed;
    top: 0px !important;
    left: 0;
    width: 100%;
    background-color: green; 
    color: white;
    padding: 0px !important;
    display: none;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    font-family: Arial, sans-serif;
    transition: transform 0.5s ease;
}

#notification-banner.show {
    transform: translateY(0);
}

#notification-text {
    flex-grow: 1 !important;
}

#close-notification {
    background: none;
    border: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

/* Style the MP3 list container */
.mp3-list {
    list-style-type: none; 
    margin: 20px 0px 0px 0px; 
    padding: 0;
    max-height: 300px; 
    overflow-y: auto; 
    border: 1px solid #ccc; 
    border-radius: 8px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #fff; 
}

.mp3-list li {
    padding: 10px 15px; 
    cursor: pointer; 
    transition: background-color 0.3s; 
    list-style-type: none;
}

.mp3-list li:hover {
    background-color: #f0f8ff; 
}

.mp3-list li.selected {
    background-color: #5b9fc7; 
    color: #fff; 
}


.mp3-list li {
    font-size: 16px; 
    font-family: Arial, sans-serif; 
    border-bottom: 1px solid #e0e0e0; 
    list-style-type: none;
}

.mp3-list li:last-child {
    border-bottom: none; 
}

#play-button {
    margin-top: 10px;
}

.slider-container {
    display: block;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.volume-slider {
    width: 20%;
    cursor: pointer;
}

progress {
    -webkit-appearance: none; 
    appearance: none;
    width: 100%; 
    height: 20px; 
    border-radius: 10px; 
    background: #e0e0e0; 
}

progress::-webkit-progress-bar {
    background: #e0e0e0; 
    border-radius: 10px;
}
